* {
    box-sizing: border-box;
}

header {
    width: 17em;
    margin-bottom: 5em;
    text-align: center;
    margin: auto;
    background-color: green;
}

.search {
    background-color: red;
}

.citySect {
    background-color: blue;
}

.searchResults {
    background-color: yellow;
}