* {
    box-sizing: border-box;
}

header {
    width: 17em;
    margin-bottom: 5em;
    text-align: center;
    margin: auto;
}

.searchResults {
    margin-top: .5em;
}
html{
    background-image: url("https://cdn-images-1.medium.com/max/2000/1*SrD_OfiRgnpPIbEqyE-HVA.jpeg")
}