body {
    background-image: url('../../assests/nyc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.intro,
.venues {
    color: goldenrod;
    font-weight: bold;
    opacity: .9;
    border-radius: 1em;
    font-size: 1.5em;
}

.recom,
.sameGenre,
label {
    opacity: .9;
    text-align: center;
    color: darkgoldenrod;
    font-weight: inherit;
}

h1 {
    font-weight: bold;
    text-shadow: black 1px 1px;
    text-align: center;
    Font-Family: 'Oswald', Sans-Serif;
}

header {
    Font-Family: 'Quattrocento', Serif;
    background-color: transparent;
    backface-visibility: inherit;
    font-size: 2.8em;
    width: 100%;
    color: goldenrod;
    font-weight: bold;
    text-shadow: black 1px 1px;
    text-align: center;
    top: 1em;
    padding-bottom: 0.2em;
    margin: auto;
    border-radius: 1em;
}

#submit {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 5px 35px;
    font-size: large;
    line-height: 1.8;
    box-shadow: none;
    border-radius: 0;
    margin-top: 2em;
}

#submit:focus {
    outline: none
}

#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    margin-right: auto;
    margin-left: auto;
}

#mapid {
    height: 300px;
    margin-top: 1em;
}

#mapid img {
    padding: 0;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#submit:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
    cursor: pointer;
}

#submit:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}

p {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: black 1px 1px;
}

.searchResults {
    margin-top: .5em;
    color: black;
    clear: both;
    text-align: center;
}

.searchTerm,
.cities {
    width: 100%;
    font-size: larger;
    font-weight: bold;
    padding-left: 5px;
}

#formData {
    display: block;
    margin-top: 5em;
}

img {
    width: 100%;
    height: 100%;
    padding-top: 2em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
}

.comedian-img {
    text-align: center;
    margin-top: 1em;
}

.ticket-prices {
    margin-top: 1em;
    text-align: center;
}

.price-label {
    color: goldenrod;
    font-size: 1.1em;
    margin-bottom: 0.2em;
}

.price-row {
    color: whitesmoke;
    font-size: 1em;
    margin: 0.1em 0;
}

.ticket-link {
    display: inline-block;
    margin-top: 0.6em;
    color: goldenrod;
    font-weight: bold;
    text-decoration: underline;
}

.seatmap {
    text-align: center;
    margin-top: 1.5em;
    width: 100%;
}

.seatmap-label {
    font-size: 1.2em;
    color: goldenrod;
    margin-bottom: 0.5em;
}

.seatmap img {
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 8px;
    padding: 0;
    border: 2px solid goldenrod;
}

.comedian-img img {
    width: auto;
    height: auto;
    max-width: 250px;
    border-radius: 8px;
    padding: 0;
}

a {
    padding-top: 1em;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
}

#homePage {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#homePage .btn {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: goldenrod;
    background-color: transparent;
    border: 2px solid goldenrod;
    padding: 15px 60px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(218, 165, 32, 0.3);
}

#homePage .btn:hover {
    background-color: goldenrod;
    color: black;
    box-shadow: 0 0 25px rgba(218, 165, 32, 0.6);
    transform: scale(1.05);
}