* {
    box-sizing: border-box;
}

a {
    color: bisque;
    cursor: alias;
}

header {
    background-color: transparent;
    backface-visibility: inherit;
    font-size: 2.8em;
    width: 100%;
    color:midnightblue;
    font-weight: bold;
    text-shadow: black 1px 1px;
    text-align: center;
    top: 1em;
    padding-bottom: 0.2em;
    margin: auto;
    border-radius: 1em;
    animation: blinker 5s linear infinite;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}

#submit:hover {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    background: linear-gradient(rgb(209, 199, 2), rgb(16, 61, 92)) rgb(209, 199, 2);
    text-decoration: none;
}

#submit:active {
    background-color: rgb(62, 142, 65);
    box-shadow: rgb(102, 102, 102) 0px 5px;
    transform: translateY(4px);
}

p {
    color: rgb(46, 109, 191);
    font-weight: bold;
    text-shadow: darkgreen 1px 1px;
}

.searchResults {
    margin-top: .5em;
    color: black;
    clear: both;
    text-align: center;
}


.search {
    color: gray;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.searchTerm,
.cities {
    width: 100%;
    font-size: medium;
    border-radius: 1em;
}

#submit {
    margin-top: 2em;
    font-family: Arial;
    color: rgb(0, 0, 0);
    font-size: 40px;
    background: linear-gradient(rgb(133, 133, 133), rgb(240, 223, 197)) rgb(133, 133, 133);
    border-radius: 60px;
    padding: 10px 23px 8px 16px;
    text-decoration: none;
}

#formData {
    display: block;
    margin-top: 5em;
}

.fullscreenVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}