* {
    box-sizing: border-box;
}
body{
    font-family: 'Architect Daughter', cursive;
}

a {
    color: bisque;
    cursor: alias;
}

h1 {
    color: ghostwhite;
    font-weight: bold;
    text-shadow: black 1px 1px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

header {
    background-color: transparent;
    backface-visibility: inherit;
    font-size: 2.8em;
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: black 1px 1px;
    text-align: center;
    top: 1em;
    padding-bottom: 0.2em;
    margin: auto;
    border-radius: 1em;
}

#submit:hover {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    text-decoration: none;
    background-color: white; 
    color: #515A5A;
}

#submit:active {
    box-shadow: rgb(102, 102, 102) 0px 5px;
    transform: translateY(4px);
}

p {
    color: white;
    font-weight: bold;
    text-shadow: black 1px 1px;
}

.searchResults {
    margin-top: .5em;
    color: black;
    clear: both;
    text-align: center;
}

.searchTerm,
.cities {
    width: 100%;
    font-size: larger;
    /*color: black;*/
    font-weight: bold;
    padding-left: 5px;
}

#submit {
    margin-top: 2em;
    color: white;
    border-color: white;
    font-size: 40px;
    background-color: #515A5A;
    padding: 10px 23px 8px 16px;
    text-decoration: none;
}

#formData {
    display: block;
    margin-top: 5em;
}

.fullscreenVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}