* {
    box-sizing: border-box;
}

body {
    font-family: 'Architect Daughter', cursive;
}

a {
    color: bisque;
    cursor: alias;
}

h1 {
    color: ghostwhite;
    font-weight: bold;
    text-shadow: black 1px 1px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

header {
    background-color: transparent;
    backface-visibility: inherit;
    font-size: 2.8em;
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: black 1px 1px;
    text-align: center;
    top: 1em;
    padding-bottom: 0.2em;
    margin: auto;
    border-radius: 1em;
}

#submit {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 5px 35px;
    font-size: large;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}

#submit:focus {
    outline: none
}

#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none; 
    margin-right: auto;
    margin-left: auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#submit:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
    cursor: pointer;
}

#submit:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}

p {
    color: white;
    font-weight: bold;
    text-shadow: black 1px 1px;
}

.searchResults {
    margin-top: .5em;
    color: black;
    clear: both;
    text-align: center;
}

.searchTerm,
.cities {
    width: 100%;
    font-size: larger;
    /*color: black;*/
    font-weight: bold;
    padding-left: 5px;
}

#formData {
    display: block;
    margin-top: 5em;
}

.fullscreenVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

img{
    width: 34.65em;
    padding-top: 2em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
}

footer{
    padding-top: 1em;
    text-align: center;
}